<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form class="form" name="emailForm" ng-init="submitted = false" ng-submit="emailForm.$valid && submitted && sendPasswordChangeEmail()" novalidate>
        <div class = "form-group">
          <div class="alert alert-success" ng-show="validOnce">We've sent you an email with a link to reset your password, it will expire within the next hour</div>
          <h3>Enter Your Account Email</h3>
          <input class="form-control" type="email" name="email" ng-model="accountEmail" required>
          <p class="help-block invalidEmail" ng-show="emailForm.email.$error.email && submitted">
            Please enter a valid email.
          </p>
        </div>
        <button class="btn btn-primary btn-lg submitButton" type="submit" ng-click="submitted = true">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
