<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form class="form" name="changePasswordForm" ng-init="submitted = false" ng-submit="changePasswordForm.$valid && submitted && newConfirmMatch() && changePassword()" novalidate>
        <div class = "form-group">
          <div class="alert alert-success" ng-show="changePasswordSuccess">You've successfully changed your password! Redirecting to login...</div>
          <h3>Enter New Password</h3>
          <p>(Minimum Length: 6 characters)</p>
          <input class="form-control" type="password" name="newPassword" ng-minlength="6" ng-model="newPassword" placeholder="Password" required>
          <p class="help-block" ng-show="!newConfirmMatch() && submitted">
            The passwords do not match.
          </p>
          <p class="help-block"
             ng-show="(changePasswordForm.newPassword.$error.minlength || changePasswordForm.newPassword.$error.required) && submitted">
            Password must be at least 6 characters.
          </p>
          <h3>Confirm Password</h3>
          <input class="form-control" type="password" name="confirmPassword" ng-minlength="6" ng-model="confirmPassword" placeholder="Confirm Password" required>
        </div>
        <button class="btn btn-primary btn-lg" type="submit" ng-click="submitted = true;">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
